.App{
  height: auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 0%;
  margin: 0%;
}
.cryptoHeader{
  width: 100%;
  height: 200px;
  background-color: rgb(90, 90, 89);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cryptoHeader input{
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
}
.cryptoDisplay{
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  
}

.coin{
  width: 400px;
  height: 350px;
  background-color: rgb(36, 36, 36);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.coin img{
  height: 80px;
}

.coin button{
  margin-top: 1rem;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color:rgb(255, 196, 0);
  border: 0;
  font-size: 15px;
  font-weight: bold;
}

.logo{
  height: 200px;
  padding-right: -30px;
}

.coin button:hover{
  background-color: rgb(194, 149, 1);
  cursor: pointer;
}